:root {
  background-color: #D1462F;
}

body {
  display: flex;
  place-items: center;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}