.Joke {
    background-color: #D6D6B1;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #3C91E6;
    text-shadow: 0px 4px 4px rgba(25, 14, 79, 0.25);
}